:root {
    --intro-font-size: 2rem;
    --osoitin-color: red; 
    --osoitin-halkaisija: 8px;
    --z-room: 0;
    --z-imagewrapper: 1;
    --z-background: 0;
    --z-text: 2;
    --z-osoitin: 5;
    --z-clue: 10;
    --z-overlay: 100;
    --z-fade: 7;
    --z-testsolved: 200;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

* > p {
    margin: 0px;
}

.room {
    position: absolute;
    z-index: var(--z-room);
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.image-wrapper {
    position: absolute;
    z-index: var(--z-imagewrapper);
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.room img {
    width: auto;
    max-width: 70vw;
    height: 100%;
}


.testitesti { /* poistettava */ 
    position: absolute;
    z-index: 100;
    bottom: 0px;
    right: 10px;
    width: fit-content;
    color: rgb(255, 0, 0);
    font-size: var(--intro-font-size);}

.testsolve {
    position: absolute;
    left: 0%;
    top: 50%;
}

/* INTROS */

.intro {
    position: absolute; 
    z-index: var(--z-room);
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.intro > p { /* vain suorat lapset*/
    position: absolute;
    z-index: var(--z-text);
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: var(--intro-font-size);
}

.intro img {
    position: absolute;
    z-index: var(--z-background);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content-wrapper {
    position: absolute;
    z-index: var(--z-text);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.content-wrapper p {
    font-size: 1.5rem;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.continuebutton {
    border: none;
    background-color: #d3e760;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 30px;
    width: 40%;
}

.continuebutton:hover {
    background-color: #a6ba38;
}


.welcometext {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 20px;
    z-index: var(--z-text);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.welcometext h1 {
    font-size: 3rem;
    padding: 0px;
    margin: 0px;
}

.welcometext p {
    position: static;
    font-size: var(--intro-font-size);
    margin: 0px;
}

.startbutton {
    border: none;
    background-color: #d3e760;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-top: 30px;
    width: 90%;
}

.startbutton:hover {
    background-color: #a6ba38;
}

/*  ========================
            HUONE 1          
    ======================== */

.room {
    --osoitin-z: 999;
    --overlay-height: 100vh;
}

.room1 {
    position: absolute;
    z-index: var(--z-room);
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #b1c392;
}

.ohje {
    position: absolute;
    bottom: 2px;
    left: -100px;
    font-family: Arial, Helvetica, sans-serif;
}

.osoitin {
    position: absolute;
    z-index: var(--osoitin-z);
    height: var(--osoitin-halkaisija);
    width: var(--osoitin-halkaisija);
    background-color: var(--osoitin-color);
    padding: 5px;
    background-clip: content-box;
    border-radius: 100%;
}

.osoitin:hover {
    background-color: rgba(196, 255, 2);
}

#osoitin11 {
    top: 65%;
    left: 20%;
}

#osoitin12 {
    top: 35%;
    left: 20%;
}

#osoitin13 {
    top: 35%;
    right: 40%
}

#osoitin14 {
    bottom: 39%;
    right: 39%;
}

#osoitin15 {
    bottom: 49%;
    right: 5%;
}

.clue {
    position: absolute;
    z-index: var(--z-clue);
    height: var(--overlay-height);
    width: auto;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 0%;
    border: black 2px solid;
}

#clue15 {
    border: transparent;
}

.vastauslaatikko {
    --color-s: rgb(180, 175, 129);
    --color-s2: rgb(175, 170, 121);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    z-index: var(--z-clue);
    top: 10px;
    right: 10px;
    border: var(--color-s) 2px groove;
    box-shadow: 5px 10px 18px lab(0% 0 0 / 0.363);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--color-s);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vastausbutton {
    background-color: rgb(140, 135, 92);
    color: white;
    border-radius: 5px;
    padding: 3px;
}

.wrong {
    background-color: red;
}

.backgroundfade {
    position: absolute;
    z-index: var(--z-fade);
    height: 100vh;
    width: 100vw;
    background-color: hsl(0, 0%, 0%, 0.5);
}

.hintbuttons {
    position: absolute;
    top: 50px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 300px;
}

.hintbutton {
    width: 70px;
}

.hint {
    display: none;
}

.hint-clicked {
    position: relative;
    z-index: var(--z-clue);
    display: block;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    border: black 2px solid;
    border-radius: 5px;
    padding: 5px;
}

/*  ========================
            ZOOM          
    ======================== */

#zoomOverlay {
  position: absolute;
  display: grid;
  inset: 0;
  justify-items: center;
  left: calc(25vw / 2);
  width: 75vw;
  height: 100vh;
  z-index: 800;
  overflow: hidden;
}

#zoomImage {
  transform-origin: center;
  max-width: 100%;
  max-height: 100%;
  cursor: zoom-out;
  height: 100vh
}

#zoomOverlay.hidden {
  display: none;
}

/*  ========================
            TEST          
    ======================== */

.testsolved {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: var(--z-testsolved);
    background-color: antiquewhite;
    background-image: url("./pictures/hurrah.jpg");
    gap: 10px;
    padding-top: 25vh;
    align-items: center;
    font-size: larger;
    color: white;
}

.testsolved button {
    margin-top: 20px;
    background-color: #c07efd;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: transform 0.5s ease;
}


.testsolved p:hover {
    transform: scale(2);
    color: #9d48ed;
}

.testsolved button:hover {
    color: #9d48ed;
    transform: scale(1.5);
    background-color: #9d48ed;
    color: #d7bdef;
}

.testsolved h2:hover {
    transform: scale(2);
    color: #9d48ed;
}

.hidden {
    display: none;
}