html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.room {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.room img {
    width: auto;
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.testbutton {
    position: absolute;
    z-index: 1;
    top: 0vh;
    right: 0vw;
}

.intro {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.intro p {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

.hidden {
    display: none;
}

.testitesti {
    position: absolute;
    z-index: 100;
    bottom: 0px;
    right: 10px;
    width: fit-content;
    color: rgb(255, 0, 0);
    font-size: 3rem;}

.testsolve {
    position: absolute;
    left: 0%;
    top: 50%;
}


/* HUONE 1 */

.room1 {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #b1c392;
}

.room1 img {
    width: auto;
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

