:root {
    --ph-font-size: 3rem;
}

@media (max-width: 600px) {
    .whoy .back a {
        font-size: var(--ph-font-size);
    }

    .whoy a {
        font-size: var(--ph-font-size);
    } 

    .esc-link {
        font-size: var(--ph-font-size);
    }

}

